<h2 class="page-header">Active Games</h2>
<div class="row">
    <div class="col-xs-12">

        <div id="no-games" class="alert alert-warning">Waiting for games...</div>

        <ul id="games"></ul>        
    </div>
</div>
@section scripts {

    <script type="text/javascript">
        var getCurrentGames = function () {
            $.getJSON("/PlanetWars/api/games").then(function (games) {
                if (!games || !games.length) return;

                $("#games").empty();
                if (_.some(games)) {
                    $('#no-games').hide();

                    $.each(games, function (index, game) {
                        $("#games").append("<li><a href='/PlanetWars/home/game/" + game.gameId + "'>#" + game.gameId + " (" + _.values(game.players).join(",") + ")</a></li>");
                    });
                }
            });
        };

        getCurrentGames();

        setInterval(function() {
            getCurrentGames();
        }, 10000);
    </script>
}